<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


    </head>
    <body>
         <div class="container">
             <div class="row">
                 <div class="col-sm-1"></div>
                 <div class="col-sm-10">
                     {% block navigation %}
                         <nav class="navbar navbar-expand-lg navbar-light bg-light">
                             <a class="navbar-brand" href="#">E-Shop</a>
                             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                 <span class="navbar-toggler-icon"></span>
                             </button>

                             <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                 <ul class="navbar-nav mr-auto">
                                     <li class="nav-item active">
                                         <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                     </li>
                                     <li class="nav-item">
                                         <a class="nav-link" href="#">Products</a>
                                     </li>
                                     <li class="nav-item">
                                         <a class="nav-link" href="#">Special Offers</a>
                                     </li>
                                     <li class="nav-item dropdown">
                                         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                             Dropdown
                                         </a>
                                         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                             <a class="dropdown-item" href="#">Action</a>
                                             <a class="dropdown-item" href="#">Another action</a>
                                             <div class="dropdown-divider"></div>
                                             <a class="dropdown-item" href="#">Something else here</a>
                                         </div>
                                     </li>

                                 </ul>
                                 {% if app.user %}
                                     <a href="{{ path('logout') }}" class="btn btn-primary">Logout</a>

                                  {% else %}
                                      <a href="{{ path('login') }}" class="btn btn-primary">Login</a>
                                      <a href="{{ path('register') }}" class="btn btn-primary">Register</a>

                                 {% endif %}
                             </div>
                         </nav>
                     {% endblock %}
                     {% block body %}

                     {% endblock %}
                 </div>
                 <div class="col-sm-1"></div>
             </div>
        </div>

        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>

        {% endblock %}

    </body>
</html>
