{% extends 'base.html.twig'%}

{% block body %}
    <h3 class="text-center">All Books</h3>
    <table class="table table-bordered">
        <thead>
        <th>Id</th>
        <th>Book</th>
        <th>Genre</th>
        <th>Quantity</th>
        <th>Year</th>
        <th>Edit</th>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td><a href="{{ path('book_by_id', {id: book.id}) }}">{{ book.name }}</a></td>
                <td><a href="{{ path('books_by_genre', {name: book.genre}) }}">{{ book.genre }}</a></td>
                <td>{{ book.quantity }}</td>
                <td>{{ book.year }}</td>
                <td><a href="{{ path('edit_book', {id: book.id}) }}">Edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-info btn-right" href="{{ path('add_book') }}">Add</a>
{% endblock %}